:root {
    /*Letras*/
    --claro: #E4DAA3;
    /* Fondo */
    --oscuro: #2F2B2A;
    /* Logo */
    --primario: #F3CC30;
    /* Botones */
    --secundario: #F3CC30;
}

body {
    background-color: var(--oscuro);
}

/* Clases del menú */
nav {
    margin-bottom: 70px;
}

nav>div>a {
    color: var(--claro);
}

nav>div>a:hover {
    color: var(--primario);
}

nav>div>ul>li>a {
    color: var(--claro);
    font-size: 18px;
}

nav>div>ul>li>a:hover {
    color: var(--secundario);
}

/* Final de las clases del final */

/* Inicio de las clases del main */

.tamanoLogo {
    font-size: 30px;
    color: var(--claro);
    text-align: center;
    margin-top: 20px;

}

h2 {

    text-align: center;
}

.formulario {
    background-color: var(--claro);
    border-radius: 10px;
    width: 330px;
}

form {
    margin: 40px 40px 10px 40px;
}

input {
    margin: 5px;
    max-width: 100%;
}

input:hover {
    border: 5px var(--secundario);
}

h6 {
    margin: 30px auto;
    text-align: center;
}

div>i:hover {
    color: var(--primario);
    cursor: pointer;
}





/* Final de las clases del main */